#################################################
# BUILD / CMAKE
#################################################
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json

#################################################
# OBJECTS / BINARIES
#################################################
*.o
*.out
*.a
*.so
*.exe

tinyllama*
int8_*
cuda_*
test_*
gemm_test
mini_llm*

#################################################
# MODELS (large files)
#################################################
*.bin
*.safetensors

#################################################
# PROFILING
#################################################
*.sqlite
*.nsys-rep
*.nvvp

#################################################
# CUDA / SYSTEM
#################################################
*.deb

#################################################
# PYTHON
#################################################
__pycache__/
*.pyc
*.egg-info/

#################################################
# IDE
#################################################
.vscode/
.idea/

#################################################
# LOGS / TEMP
#################################################
*.log
*.tmp
.DS_Store